.ui-block-diagram-search-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 32px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid var(--ui-color-accent-main-primary);
	box-sizing: border-box;
}

.ui-block-diagram-search-input__input {
	width: calc(100% - 48px);
	height: 30px;
	padding-left: 10px;
	padding-right: 12px;
	border: none;
	font: var(--ui-font-size-md) var(--ui-font-family-system);
	color: var(--ui-color-base-90);
	outline: none;
	background-color: inherit;
	box-sizing: border-box;
}

.ui-block-diagram-search-input__input::placeholder {
	font: var(--ui-font-size-md) var(--ui-font-family-system);
	color: var(--ui-color-base-60);
}

.ui-block-diagram-search-input__icon {
	width: 24px;
	height: 24px;
	background-color: var(--ui-color-gray-50);
}

.ui-block-diagram-search-input__clear-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.ui-block-diagram-search-input__clear-btn-icon {
	background-color: var(--ui-color-palette-gray-50);
}
