.ui-selector-items {
	padding: 6px 5px 6px 10px;
}

.ui-selector-item-box {
	height: 48px;
	/*content-visibility: auto;*/
}

.ui-selector-dialog--compact-view .ui-selector-item-box {
	height: 34px;
}

.ui-selector-item-box.ui-selector-item-box-has-children {
	height: auto;
	/*content-visibility: visible;*/
}

.ui-selector-item-box-has-children .ui-selector-item-box {
	/*content-visibility: visible;*/
}

.ui-selector-item-box.--hidden {
	display: none;
}

.ui-selector-item {
	--ui-color: var(--ui-color-bg-content-primary);

	min-height: 48px;
	cursor: pointer;
	margin-bottom: 1px;
	padding: 0 45px 0 10px;
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--ui-color);
	border-radius: var(--ui-border-radius-sm);
}

.ui-selector-dialog--compact-view .ui-selector-item {
	min-height: 34px;
}

.ui-selector-item-avatar {
	display: grid;
	place-items: center;
	width: 32px;
	min-width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(images/default-avatar.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	box-sizing: border-box;
	--ui-icon-set__icon-size: 20px;
}

.ui-selector-dialog--compact-view .ui-selector-item-avatar {
	width: 22px;
	height: 22px;
	min-width: 22px;
	--ui-icon-set__icon-size: 18px;
}

.ui-selector-tab-content--hide-avatars .ui-selector-item-avatar {
	display: none;
}

.ui-selector-item-titles {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	margin-left: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ui-selector-tab-content--hide-avatars .ui-selector-item-titles {
	margin-left: 0;
}

.ui-selector-item-supertitle {
	font-size: var(--ui-font-size-4xs);
	font-weight: var(--ui-font-weight-normal);
	color: var(--ui-color-base-4);
	text-transform: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-item-subtitle {
	font-size: var(--ui-font-size-4xs);
	font-weight: var(--ui-font-weight-normal);
	color: var(--ui-color-base-4);
	text-transform: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-item-title-box {
	display: flex;
	align-items: center;
}

.ui-selector-item-title {
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-base-1);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-item-box-locked > .ui-selector-item .ui-selector-item-title {
	color: var(--ui-color-base-4);
}

.ui-selector-item-badges {
	display: flex;
	overflow: hidden;
	align-items: end;
	height: 17px;
}

.ui-selector-item-badges:empty {
	display: none;
}

.ui-selector-item-badge {
	font-size: 10px;
	background-color: rgba(47, 198, 246, 0.17);
	padding: 0 6px 1px 6px;
	margin-left: 7px;
	border-radius: 10px;
	color: #23a2ca;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 14px;
	align-content: center;
	box-sizing: border-box;
}

.ui-selector-item-badge:empty {
	display: none;
}

.ui-selector-item-caption {
	margin-left: 8px;
	align-self: flex-end;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-base-4);
	transition: width 200ms ease;
}

.ui-selector-item-caption:empty {
	display: none;
}

.ui-selector-item-link {
	display: none;
	position: absolute;
	top: 0;
	right: 45px;
	bottom: 0;
	align-items: center;
	padding-left: 10px;
	opacity: 0;
	transition: opacity ease 300ms 500ms, background-color ease 100ms;
	text-decoration: none;
}

.ui-selector-item-box-focused .ui-selector-item-link {
	background-color: var(--ui-color-hover);
}

.ui-selector-item-box-selected.ui-selector-item-box-focused .ui-selector-item-link {
	background-color: var(--ui-color-hover);
}

.ui-selector-item-box-focused .ui-selector-item-link--show {
	display: flex;
}

.ui-selector-item-box-focused .ui-selector-item-link--animate {
	opacity: 1;
}

.ui-selector-item-link-text {
	color: var(--ui-color-base-4);
	border-bottom: 1px dashed rgba(155, 155, 155, 0.4);
	font-size: var(--ui-font-size-xs);
	white-space: nowrap;
}

.ui-selector-item-link:hover .ui-selector-item-link-text {
	color: var(--ui-color-base-3);
	border-bottom-color: #9b9b9b;
}

.ui-selector-item-indicator {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 45px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-size: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-item-indicator-hidden {
	background-image: none !important;
	mask-image: none;
}

.ui-selector-item-children {
	display: none;
	overflow: hidden;
	height: 0;
	transition: height 300ms, opacity 300ms;
	margin-left: 16px;
	padding-left: 16px;
	position: relative;
}

.ui-selector-item-box-max-depth .ui-selector-item-children {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

.ui-selector-item-children:empty {
	display: none;
}

.ui-selector-item-box-open > .ui-selector-item-children {
	height: auto;
	display: block;
}

.ui-selector-item-box-has-children > .ui-selector-item > .ui-selector-item-indicator {
	mask-image: var(--o-ui-icon-set__path_chevron-down-l);
	background-color: var(--ui-color-base-3);
}

.ui-selector-item-box-open > .ui-selector-item > .ui-selector-item-indicator {
	transform: rotate(180deg);
}

.ui-selector-item-box-selected > .ui-selector-item {
	--ui-color: var(--ui-color-accent-soft-blue-3);
}

.ui-selector-item-box-focused > .ui-selector-item {
	background-color: var(--ui-color-hover);
	transition: background-color ease 100ms;
}

.ui-selector-item-box-selected > .ui-selector-item > .ui-selector-item-indicator {
	mask-image: var(--o-ui-icon-set__path_check-m);
	background-color: var(--ui-color-accent-main-primary);
}

.ui-selector-item-box-locked > .ui-selector-item > .ui-selector-item-indicator {
	mask-image: var(--o-ui-icon-set__path_lock-l);
	background-color: var(--ui-color-base-4);
}

.ui-selector-highlight-mark {
	color: #000;
	background-color: #faf16d;
}
