.ui-icon-set_disk-icon {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.ui-icon-set_disk-icon.--responsive {
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.ui-icon-set_disk-icon__img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: var(--ui-border-radius-2xs);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.ui-icon-set_disk-icon__temp-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.ui-icon-set_disk-icon__img.--hidden {
	display: none;
}
