.bx-im-list-recent-create-chat__container {
	--im-list-recent-create-chat__background-color_not-active: var(--im-color-palette-blue-15);
	--im-list-recent-create-chat__font-color_header: var(--im-color-palette-white-base);

	margin: 4px 4px 6px;
}

.bx-im-list-recent-create-chat__container .bx-im-list-recent-item__wrap:not(.--selected) {
	background-color: var(--im-list-recent-create-chat__background-color_not-active);
}

.bx-im-list-recent-create-chat__avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	margin-right: 13px;
}

.bx-im-list-recent-create-chat__header {
	font: var(--im-font-size-lg) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-list-recent-create-chat__font-color_header);
}

.bx-im-list-recent-create-chat__icon-close {
	cursor: pointer;
	padding: 0;
	margin-top: 5px;
	opacity: 1;
}

.bx-im-list-recent-create-chat__icon-close:hover {
	opacity: 0.7;
}

.bx-im-list-recent-create-chat__container .bx-im-list-recent-item__wrap:not(.--selected) .bx-im-list-recent-create-chat__header {
	--im-list-recent-create-chat__font-color_header: var(--im-color-palette-black-base)
}
