.ui-block-diagram-canvas-transform {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui-block-diagram-canvas-transform.--dragging {
	user-select: none;
}

.ui-block-diagram-canvas-transform__canvas {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: transparent;
	outline: none;
	overflow-clip-margin: content-box;
	overflow: clip;
	touch-action: none;
}

.ui-block-diagram-canvas-transform__transform {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
}
