.bx-im-upload-preview__scope {
	--im-upload-preview__color_title: var(--im-color-palette-gray-90);
	--im-upload-preview__border-color_delimeter: #f1f2f3;
	--im-upload-preview__border-color_message-input: var(--im-color-palette-gray-10);
	--im-upload-preview__border-color_message-input-focused: var(--im-color-accent-blue);
	--bx-im-elements-dynamic-gallery__item-cursor: default;
}

.bx-im-upload-preview__container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: hidden;
	width: 400px;
	padding-bottom: 12px;
}

.bx-im-upload-preview__container * {
	box-sizing: border-box;
}

.bx-im-upload-preview__items-container {
	max-height: 505px;
	overflow: hidden scroll;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0 6px 0 12px;
}

@media (max-height: 750px) {
	.bx-im-upload-preview__items-container {
		max-height: 400px;
	}
}

@media (max-height: 650px) {
	.bx-im-upload-preview__items-container {
		max-height: 300px;
	}
}

.bx-im-upload-preview__upper-delimiter {
	border-top: 1px solid var(--im-upload-preview__border-color_delimeter);
	margin: 5px 20px 11px
}

.bx-im-upload-preview__bottom-delimiter {
	border-bottom: 1px solid var(--im-upload-preview__border-color_delimeter);
	margin: 11px 20px 0;
}

.bx-im-upload-preview__control-form {
	display: flex;
	align-items: flex-end;
	margin-top: 23px;
}

.bx-im-upload-preview__control-compress-image + .bx-im-upload-preview__control-form {
	margin-top: 15px;
}

.bx-im-upload-preview__controls-container {
	display: flex;
	flex-direction: column;
	margin: 0 12px;
}

.bx-im-upload-preview__control-compress-image {
	display: inline-flex;
	align-items: center;
	margin: 23px 0 0 2px;
	font: var(--im-font-size-md) var(--im-font-family-system);
	color: var(--im-color-palette-gray-80);
	max-width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bx-im-upload-preview__control-compress-image-checkbox {
	margin-right: 8px;
	margin-bottom: 1px;
}

.bx-im-upload-preview__controls-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 23px;
}

.bx-im-upload-preview__container *::-webkit-scrollbar {
	width: 6px;
}

.bx-im-upload-preview__container *::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 32px;
}

.bx-im-upload-preview__container *:hover::-webkit-scrollbar-thumb {
	background-color: rgb(82 92 105 / 20%);
	border-radius: 32px;
}

.bx-im-upload-preview__scope .popup-window-titlebar {
	height: 72px;
	padding-top: 5px;
}

.bx-im-upload-preview__scope .popup-window-titlebar-text {
	font-size: var(--ui-font-size-xl);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-upload-preview__color_title);
	width: 100%;
	padding-left: 20px;
	text-align: center;
}

.bx-im-upload-preview__container .bx-im-elements-spinner__spinner {
	margin-bottom: 0;
}

.bx-im-upload-preview__controls-buttons .bx-im-button__container + .bx-im-button__container {
	margin-left: 12px;
}

.bx-im-upload-preview__controls-files-limit-message {
	background-color: var(--ui-color-palette-orange-15);
	display: flex;
	align-items: center;
	color: var(--ui-color-palette-orange-90);
	font-size: var(--im-font-size-sm);
	padding: 4px 8px;
	margin-top: 24px;
	margin-bottom: 0;
	border-radius: var(--im-border-radius-xs);
}

.bx-im-upload-preview__controls-files-limit-message {
	margin-top: var(--ui-space-inline-2xs);
}

.bx-im-upload-preview__controls-files-limit-message::before {
	background-image: url("../images/upload-preview/alert-icon.svg");
	display: inline-block;
	content: '';
	width: var(--ui-size-xl);
	height: var(--ui-size-xl);
	margin-right: var(--im-space-inline-2xs);
}

.bx-im-upload-preview__message-text {
	flex-grow: 1;
	font: var(--im-font-size-lg)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-textarea__font-color_primary);
	outline: none;
	resize: none;
	border: none;
	padding-left: 13px;
	padding-top: 10px;
	padding-right: 10px;
	margin-top: 3px;
	margin-right: 3px;
}

.bx-im-upload-preview__message-text:focus {
	border-color: var(--im-upload-preview__border-color_message-input-focused);
}

.bx-im-upload-preview__message-text__wrapper {
	display: flex;
	flex-grow: 1;
	position: relative;
	min-height: 46px;
	max-height: 232px;
	margin-right: 8px;
	border-radius: 8px;
	border: 1px solid var(--im-upload-preview__border-color_message-input);
	padding-bottom: 19px;
	overflow: hidden;
}

.bx-im-upload-preview__message-text__drag-handle {
	position: absolute;
	left: calc(50% - 8px);
	bottom: 1px;
	width: 17px;
	height: 10px;
	background-image: url("../images/resize.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: ns-resize;
}

.bx-im-upload-preview__message-text__drag-handle:hover {
	background-image: url("../images/resize-active.svg");
}

.bx-im-upload-preview__message-text__counter {
	position: absolute;
	bottom: 4px;
	right: 17px;
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-palette-gray-50);
}
