.bx-im-message-ai-assistant-base-message__container {
	--im-message-ai-assistant-answer__background-color_bottom-panel: #edf7ff;
	--im-message-ai-assistant-answer__color_warning: rgba(var(--im-color-palette-black-base-rgb), 0.3);
	--im-message-ai-assistant-answer__text-decoration-color_warning-link: rgba(var(--im-color-palette-black-solid-rgb), 0.08);
	--im-message-ai-assistant-answer__color_status: rgba(var(--im-color-palette-black-solid-rgb), 0.2);
}

.bx-im-message-ai-assistant-base-message__container .bx-im-message-base__body {
	min-width: 250px;
}

.bx-im-message-ai-assistant-base-message__container.bx-im-message-base__wrap.--opponent:last-child .bx-im-message-base__body::before {
	background: url('./images/arrow-opponent.svg');
}

.bx-im-message-ai-assistant-answer__bottom-panel {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 6px 10px 8px 10px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	background-color: var(--im-message-ai-assistant-answer__background-color_bottom-panel);
	user-select: none;
}

.bx-im-message-ai-assistant-answer__status-container {
	margin: auto 0 0 auto;
}

.bx-im-message-ai-assistant-answer__panel-content {
	display: flex;
	align-items: center;
}

.bx-im-message-ai-assistant-answer__copy_icon {
	cursor: pointer;
	align-self: flex-start;
}

.bx-im-message-ai-assistant-answer__warning {
	font: var(--im-font-size-4xs)/var(--im-font-line-height-3xs) var(--im-font-family-system);
	color: var(--im-message-ai-assistant-answer__color_warning);
}

.bx-im-message-ai-assistant-answer__warning_link {
	text-decoration: underline;
	cursor: pointer;
	color: inherit;
	text-decoration-color: var(--im-message-ai-assistant-answer__text-decoration-color_warning-link);
}

.bx-im-message-ai-assistant-answer__status-container .bx-im-message-status__date {
	color: var(--im-message-ai-assistant-answer__color_status);
}
