.side-panel-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3000;
	display: none;
	background-color: rgba(0, 0, 0, .4);
	transform: translateZ(0);
	overflow: hidden;
}

.side-panel-overlay.--open {
	display: block;
}

.side-panel-overlay.--opening {
	display: block;
}

.side-panel-overlay.--closing {
	display: block;
}

.side-panel-overlay.--hidden {
	background: transparent !important;
}

.side-panel-overlay.--invisible {
	visibility: hidden;
}

.side-panel-overlay.--invisible .side-panel-labels {
	display: none;
}

.side-panel-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3001;
	display: block;
	width: calc(100% - 300px);
	background: #eef2f4;
	transform-origin: 100% 50%;
	border-radius: var(--sidepanel-border-radius);
}

.side-panel-overlay-opening .side-panel-container {

}

.side-panel-show-shadow.side-panel-container {
	box-shadow: -5px 0 22px -5px rgba(0, 0, 0, 0.3);
}

.side-panel-fullscreen {
	left: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.side-panel-fullscreen .side-panel-container {
	max-width: none !important;
	width: 100% !important;
}

.side-panel-disable-scrollbar {
	overflow: hidden;
}

.side-panel-labels {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 17px;
	z-index: 1;
	transform: translateX(-100%);
	transition: all 300ms ease;
	pointer-events: none;
}

.side-panel-extra-labels {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	transition-property: opacity, display, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	transition-behavior: allow-discrete;
}

.side-panel-extra-labels.--hidden {
	opacity: 0;
	pointer-events: none;
	transform: translateX(100%);
}

.side-panel-label {
	display: inline-flex;
	align-items: center;
	min-width: 36px;
	height: 28px;
	margin-bottom: 10px;
	position: relative;

	background: var(--sidepanel-label-background, var(--ui-color));
	white-space: nowrap;
	/*overflow: hidden;*/
	transition: top 0.3s;
	box-shadow: var(--sidepanel-label-box-shadow, inset -6px 0 8px -10px rgba(0, 0, 0, 0.95));
	z-index: 1;
	cursor: pointer;
	pointer-events: auto;
	opacity: 1;

	transition-property: opacity, display, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	transition-behavior: allow-discrete;

	box-sizing: border-box;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;

	border: var(--sidepanel-label-border);
	border-right: none;
}

.side-panel-label.--ui-hoverable {
	--ui-color: var(--ui-color-base-6);
}

.side-panel-label.--close-label.--ui-hoverable {
	--ui-color: #0075FF;
}

.side-panel-label:before {
	position: absolute;
	content: '';
	inset: -5px 0 -5px -5px;
}

.side-panel-label:hover {
	background: var(--sidepanel-label-background-hover, var(--ui-color-hover));
	border: var(--sidepanel-label-border-hover);
	border-right: none;
}

.side-panel-label.--close-label {
	min-width: 43px;
	height: 36px;

	background: var(--sidepanel-close-label-background, var(--sidepanel-label-background, var(--ui-color)));
	border: var(--sidepanel-close-label-border, var(--sidepanel-label-border));
	border-right: none;
}

.side-panel-label:hover.--close-label {
	background: var(--sidepanel-close-label-background-hover, var(--sidepanel-label-background-hover, var(--ui-color-hover)));
	border: var(--sidepanel-close-label-border-hover, var(--sidepanel-label-border-hover));
	border-right: none;
}

.side-panel-label.--hidden {
	opacity: 0;
	pointer-events: none;
	transform: translateX(100%);
}

.side-panel-label:not(.--visible) {
	display: none;
}

.side-panel-label-icon-box {
	display: inline-flex;
	align-items: center;
	min-width: 20px;
	height: 20px;
	transition: all .2s;
}

.side-panel-label-icon {
	display: flex;
	align-items: center;
	position: relative;
	width: 20px;
	height: 20px;
	margin-left: 7px;
	transition: all 150ms ease;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: content-box;
	--ui-icon-set__icon-color: var(--sidepanel-label-icon-color, var(--ui-color-base-2));
}

.side-panel-label:hover .side-panel-label-icon {
	--ui-icon-set__icon-color: var(--sidepanel-label-icon-color-hover, var(--ui-color-base-2));
}

.side-panel-label.--close-label .side-panel-label-icon {
	margin-left: 13px;
	--ui-icon-set__icon-color: var(--sidepanel-close-label-icon-color, #ffffff);
}

.side-panel-label.--close-label:hover .side-panel-label-icon {
	--ui-icon-set__icon-color: var(--sidepanel-close-label-icon-color-hover, #ffffff);
}

.side-panel-label-icon--hide .side-panel-label-icon-box {
	opacity: 0;
	margin-left: -19px;
}

.side-panel-label-icon--darken .side-panel-label-icon-box {
	opacity: 0.4;
}

.side-panel-label-text {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin-left: 2px;
	margin-right: 8px;
	line-height: 38px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-panel-label-text:empty {
	display: none;
}

.side-panel-label-text-hidden {
	display: none;
}

.side-panel-content-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	z-index: 2;
	border-radius: var(--sidepanel-border-radius);
}

.side-panel-content-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	z-index: 2;
}

.side-panel.--self-contained .side-panel-content-container {
	/*scrollbar-gutter: stable;*/
	overflow: auto;
}

@supports not selector(::-webkit-scrollbar) {
	.side-panel.--self-contained .side-panel-content-container {
		scrollbar-width: thin;
	}
}

.side-panel.--self-contained .side-panel-content-container::-webkit-scrollbar {
	background-color: rgba(255, 255, 255, 0);
	appearance: none;
}

.side-panel.--self-contained .side-panel-content-container::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.21);
	border-radius: 10px;
	border: 5px solid rgba(0, 0, 0, 0);
}

.side-panel.--self-contained .side-panel-content-container::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.45);
}

.bx-touch .side-panel-content-container {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.side-panel-iframe {
	position: relative;
	z-index: 3000;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.side-panel-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3200;
	display: block;
	opacity: 1;
	background-color: #fff;
	border-radius: var(--sidepanel-border-radius);
	overflow: hidden;
}

.template-bitrix24 .side-panel-loader {
	background-color: #eef2f4;
}

/* Move these styles to .side-panel-loader when standard loaders get fixed*/
.side-panel-loader[data-loader="default-loader"] {
	left: 0;
	right: 0;
}

.side-panel-loader-container {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	z-index: 10;
}

.side-panel-loader.default-loader {
	right: 0;
	left: 0;
	background-color: #fff;
}

.side-panel-loader-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	height: 100%;
	background: url(images/loader.gif) fixed repeat 0 0;
}

.side-panel-default-loader-container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 110px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.side-panel-default-loader-circular {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: side-panel-loader-rotate 2s linear infinite;
	animation: side-panel-loader-rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.side-panel-default-loader-path {
	stroke: #bfc3c8;
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	animation: side-panel-loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes side-panel-loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes side-panel-loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.side-panel-toolbar {
	display: none;
	position: fixed;
	height: 46px;
	box-sizing: border-box;
	/*right: 90px;
	bottom: 20px;*/
	margin-right: var(--scroll-shift-width, 0);
	border-radius: var(--ui-border-radius-pill);
	background-color: rgba(243, 243, 243, 0.72);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 200ms, right 200ms;
}

.side-panel-toolbar.--shifted {
	/*right: 5px;*/
}

.side-panel-toolbar.--muted {
	visibility: hidden;
	backdrop-filter: none;
}

.side-panel-toolbar.--muted .side-panel-toolbar-collapse-btn,
.side-panel-toolbar.--muted .side-panel-toolbar-more-btn {
	visibility: hidden;
	transition: none;
	opacity: 0;
}

.side-panel-toolbar:hover {
	background-color: rgba(227, 227, 227, 0.72);
}

@supports (backdrop-filter: none) {
	.side-panel-toolbar {
		backdrop-filter: var(--ui-bg-blur-less);
	}
}

.side-panel-toolbar.--show {
	display: flex;
}

.side-panel-toolbar-collapse-btn {
	display: inline-flex;
	min-width: 42px;
	height: 100%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	transition: opacity 200ms;
}

.side-panel-toolbar-collapse-btn:hover {
	opacity: 1;
}

.side-panel-toolbar-content {
	transition: width 200ms;
	overflow: hidden;
	white-space: nowrap;
}

.side-panel-toolbar.--collapsed .side-panel-toolbar-content {
	display: none;
}

.side-panel-toolbar-items {
	display: inline-flex;
	overflow: hidden;
	height: 100%;
	vertical-align: top;
	padding: 6px 6px 6px 0;
	box-sizing: border-box;
}

.side-panel-toolbar-item {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	background-color: #fff;
	margin-right: 6px;
	min-width: 120px;
	max-width: 150px;
	height: 100%;
	border-radius: var(--ui-border-radius-xs);
	font-size: var(--ui-font-size-xs);
	position: relative;
}

.side-panel-toolbar-item-title {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 9px 8px;
	height: 100%;
	box-sizing: border-box;
	color: var(--ui-color-base-70);
}

.side-panel-toolbar-item:hover .side-panel-toolbar-item-title {
	color: var(--ui-color-base-90);
}

.side-panel-toolbar-item-remove-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 100%;
	margin-left: 8px;
	cursor: pointer;
	border-radius: var(--ui-border-radius-xs);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	opacity: 0;
	background: #fff;
	transition: opacity 200ms, background 200ms;
}

.side-panel-toolbar-item-remove-btn:before {
	position: absolute;
	content: '';
	left: -20px;
	top: 0;
	width: 20px;
	height: 100%;
	background: linear-gradient(270deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0) 100%);
	pointer-events: none;
}

.side-panel-toolbar-item-remove-btn .ui-icon-set {
	opacity: 0.5;
}

.side-panel-toolbar-item-remove-btn:hover .ui-icon-set {
	opacity: 1;
}

.side-panel-toolbar-item:hover .side-panel-toolbar-item-remove-btn {
	opacity: 1;
}

.side-panel-toolbar-more-btn {
	display: inline-flex;
	cursor: pointer;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	transition: opacity 200ms;
	vertical-align: top;
}

.side-panel-toolbar-more-btn:hover {
	opacity: 1;
}

.side-panel-toolbar-toggle {
	min-width: 46px;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path fill="%236A737F" fill-rule="evenodd" d="M7.5 11.875a1.875 1.875 0 1 0 0-3.75 1.875 1.875 0 0 0 0 3.75Zm16.133 7.147a.2.2 0 0 0-.2-.2H6.567a.2.2 0 0 0-.2.2v1.956c0 .11.09.2.2.2h16.866a.2.2 0 0 0 .2-.2v-1.956Zm0-5a.2.2 0 0 0-.2-.2H6.567a.2.2 0 0 0-.2.2v1.956c0 .11.09.2.2.2h16.866a.2.2 0 0 0 .2-.2v-1.956Zm0-5a.2.2 0 0 0-.2-.2H11.45a.2.2 0 0 0-.2.2v1.956c0 .11.09.2.2.2h11.983a.2.2 0 0 0 .2-.2V9.022Z" clip-rule="evenodd"/></svg>');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	transition: opacity 200ms;
}

.side-panel-toolbar-toggle:hover {
	opacity: 1;
}

.side-panel-toolbar-menu-item {
	display: flex;
	position: relative;
}

.side-panel-toolbar-menu-item-title {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.side-panel-toolbar-menu-item-remove {
	display: flex;
	width: 20px;
	align-items: center;
	cursor: pointer;
	--ui-icon-set__icon-size: 100%;
	opacity: 0.5;
}

.side-panel-toolbar-menu-item-remove:hover {
	opacity: 1;
}

.sidepanel-toolbar-item-hint-title {
	font-size: var(--ui-font-size-xl);
	margin-bottom: var(--ui-space-stack-2xs);
}

.sidepanel-toolbar-item-hint-title:empty {
	display: none;
}

.sidepanel-toolbar-item-hint-content {
	word-break: break-word
}
