.ui-selector-tabs {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

.ui-selector-tab-labels {
	position: absolute;
	left: 0;
	top: 5px;
	transform: translate(-100%, 14px);
	max-width: 38px; /* sync this value (+margin) with minLabelWidth in dialog.js */
}

/* Chrome sub-pixel bug */
.ui-selector-tab-labels--active.ui-selector-tab-labels:before,
.ui-selector-tab-labels--animate-show.ui-selector-tab-labels:before,
.ui-selector-tab-labels--animate-hide.ui-selector-tab-labels:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #fff;
    right: -1px;
}


.ui-selector-tab-labels--animate-show {
	transition: max-width 300ms ease;
	transition-delay: 500ms;
}

.ui-selector-tab-labels--animate-hide {
	transition: max-width 300ms ease;
	transition-delay: 100ms;
}

.ui-selector-tab-label {
	--ui-color: var(--ui-color-background-tertiary);

	background-color: var(--ui-color);
	border-radius: 20px 0 0 20px;
	box-shadow: 0px 1px 2px 0px #0000000D;
	height: 36px;
	margin-bottom: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: background-color 200ms ease;
}

.ui-selector-tab-label-hover {
	background-color: var(--ui-color-hover);
}

.ui-selector-tab-label-active {
	--ui-color: var(--ui-color-accent-main-primary);
}

.ui-selector-tab-label-hidden {
	display: none;
}

.ui-selector-tab-icon {
	--icon-size: 24px;
	--ui-icon-set__icon-size: var(--icon-size);
	--ui-icon-set__icon-color: var(--ui-color-base-4);

	width: var(--icon-size);
	min-width: var(--icon-size);
	height: var(--icon-size);
	mask-image: url(images/tab-icon.svg);
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--ui-icon-set__icon-color);
	background-image: none;
	margin-left: 8px;
	margin-right: 4px;
}

.ui-selector-tab-label-active .ui-selector-tab-icon {
	--ui-icon-set__icon-color: var(--ui-color-base-white-fixed);
	mask-image: url(images/tab-icon-selected.svg);
}

.ui-selector-tab-title {
	display: inline-block;
	color: var(--ui-color-base-4);
	margin-right: 8px;
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium, 400);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-tab-title::selection {
	background-color: transparent;
}

.ui-selector-tab-labels--animate-show .ui-selector-tab-title,
.ui-selector-tab-labels--animate-hide .ui-selector-tab-title {
	text-overflow: initial;
}

.ui-selector-tab-label-active .ui-selector-tab-title {
	color: var(--ui-color-base-8);
}

.ui-selector-tab-contents {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.ui-selector-tab-content {
	display: none;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	flex: 1;
	flex-direction: column;
	position: relative;

	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 5px;
}

@supports not selector(::-webkit-scrollbar) {
	.ui-selector-tab-content {
		scrollbar-color: rgba(0, 0, 0, 0.21) transparent;
		scrollbar-width: thin;
	}
}

.ui-selector-tab-content::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 5px;
}

.ui-selector-tab-content::-webkit-scrollbar-track {
	background: transparent;
}

.ui-selector-tab-content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.21);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
}

.ui-selector-tab-content-active {
	display: flex;
}

.ui-selector-tab-content-locked {
	pointer-events: none;
}


.ui-selector-tab-stub {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*background-color: #fff;*/
}

.ui-selector-tab-default-stub {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
}

.ui-selector-tab-default-stub-icon {
	width: 180px;
	min-height: 142px;
	background-image: url(images/default-stub-icon-air.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.ui-selector-tab-default-stub-titles {
	text-align: center;
	margin-top: 24px;
}

.ui-selector-tab-default-stub-title {
	color: var(--ui-color-base-1);
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-medium, 500);
	text-align: center;
}

.ui-selector-tab-default-stub-subtitle {
	margin-top: 10px;
	font-size: var(--ui-font-size-xl);
	color: var(--ui-color-base-2);
}

.ui-selector-tab-default-stub-arrow {
	display: none;
	position: absolute;
	left: 25px;
	bottom: 10px;
	width: 62px;
	height: 69px;
	background-image: url(images/default-stub-arrow.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	opacity: .5;
}

.ui-selector-tab-stub .ui-selector-tab-stub-link {
	color: #2a6dc5;
	border-bottom: 1px dashed rgba(42, 109, 197, 0.27);
	cursor: pointer;
	text-decoration: none;
}

.ui-selector-tab-stub .ui-selector-tab-stub-link:hover {
	color: #21569a;
	border-bottom-color: rgba(42, 109, 197, 0.8);
}

.ui-selector-search-loader {
	display: none;
	opacity: 0;
	transition: opacity 400ms ease;
	transition-delay: 300ms;
}

.ui-selector-search-loader--show {
	display: block;
}

.ui-selector-search-loader--animate {
	opacity: 1;
}

.ui-selector-search-loader-box {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 20px;
	height: 40px;
	padding-left: 20px;
	z-index: 1;
	background-color: rgba(255,255,255,.97);
}

.ui-selector-search-loader-box,
.ui-selector-search-loader-spacer {
	min-height: 45px;
}

.ui-selector-search-loader-spacer {
	display: block;
}

.ui-selector-search-loader-icon {
	flex: 1;
	max-width: 32px;
	position: relative;
}

.ui-selector-search-loader-text {
	color: var(--ui-color-base-3);
	font-style: italic;
	font-size: var(--ui-font-size-sm);
	line-height: 45px;
	padding-left: 10px;
}

.ui-selector-search-empty-result {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.ui-selector-search-empty-result--show .ui-selector-search-empty-result-text {
	opacity: 1;
}

.ui-selector-search-empty-result-text {
	opacity: 0;
	transition: opacity 200ms ease;
	color: var(--ui-color-base-2);
	font-size: var(--ui-font-size-5xl);
	position: absolute;
	top: calc(50% - 30px);
	left: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
}

.ui-selector-search-footer {
	align-items: center;
	display: flex;
	height: 54px;
	background-color: var(--ui-color-accent-soft-blue-2);
	border-radius: 0 0 var(--popup-window-border-radius) var(--popup-window-border-radius);
	padding: 0 18px;
	overflow: hidden;
	white-space: nowrap;
	color: var(--ui-color-base-1);
	cursor: pointer;
	position: relative;
}

.ui-selector-search-footer:before {
	position: absolute;
	left: 18px;
	top: 15px;
	width: 24px;
	height: 24px;
	background-image: url(images/footer-link-add-icon.svg);
	content: "";
}

.ui-selector-search-footer:hover {
	background-color: var(--ui-color-accent-soft-blue-3);
}

.ui-selector-search-footer-box {
	display: flex;
	flex: 1;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;
}

.ui-selector-search-footer-label {
	margin-left: 31px;
	margin-right: 5px;
	color: var(--ui-color-base-1);
	font-size: var(--ui-font-size-lg);
}

.ui-selector-search-footer-query {
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium);

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-selector-search-footer-loader {
	position: relative;
	display: block;
	width: 45px;
	height: 48px;
}

.ui-selector-search-footer-cmd {
	font-size: var(--ui-font-size-4xs);
	color: rgba(0, 0, 0, 0.3);
}
