.landing-block-collaboration-sections .landing-block-node-title,
.landing-block-collaboration-sections .landing-block-node-subtitle,
.landing-block-collaboration-sections .landing-block-node-card-text,
.landing-block-collaboration-sections .landing-block-node-text {
	color: #151515;
}

.landing-block-collaboration-sections .landing-block-node-card-container {
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.landing-block-collaboration-sections .landing-block-node-card-column {
	gap: 13px;
}

.landing-block-collaboration-sections .landing-block-node-card-link {
	background: #EDF1F7;
}
.landing-block-collaboration-sections .landing-block-node-card-link:hover {
	background: #1F86FF26;
}

.landing-block-collaboration-sections .landing-block-node-card-icon-container {
	background: #1F86FF;
	display: flex;
	justify-content: center;
	align-items: center;
	--ui-icon-set__icon-size: 42px;
}

.landing-block-collaboration-sections .landing-block-node-card-icon-section .landing-block-node-card-icon-container {
	--ui-icon-set__icon-size: 32px;
}

.landing-block-collaboration-sections .landing-block-node-card-icon {
	background: #ffffff;
}

.landing-block-collaboration-sections .landing-block-node-card-link {
	border-radius: 10px;
}
.landing-block-collaboration-sections .landing-block-node-card-link.first {
	border-radius: 10px 10px 0 0;
}
.landing-block-collaboration-sections .landing-block-node-card-link.middle {
	border-radius: 0;
}
.landing-block-collaboration-sections .landing-block-node-card-link.last {
	border-radius: 0 0 10px 10px;
}

.ui-hint-popup,
.popup-window-angly--arrow {
	background-color: #085DC1 !important;
}
