.bx-im-list-container-task__container {
	--im-list-container-task__background-color: var(--im-color-palette-white-base);
	--im-list-container-task__background-color_separator: rgba(var(--im-color-palette-gray-90-rgb), 0.08);
	--im-list-container-task__font-color_header-title: var(--im-color-palette-black-base);

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--im-list-container-task__background-color);
}

.bx-im-list-container-task__header_container {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 16px 13px 14px 13px;
	border-bottom: 1px solid var(--im-list-container-task__background-color_separator);
}

.bx-im-list-container-task__header_title {
	flex: 1;
	font: var(--im-font-size-2xl) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-list-container-task__font-color_header-title);
}

.bx-im-list-container-task__elements_container {
	flex: 1 0 auto;
	position: relative;
	padding-top: 1px;
}

.bx-im-list-container-task__elements {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--im-list-container-task__background-color);
}