.rest-market-solution-section {
	display: flex;
	flex-direction: column;
}

.rest-market-solution-main__banner {
	#width: 882px;
	height: 280px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right bottom;
	border-radius: 16px;
	position: relative;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background-size: auto 262px;
}

.rest-market-solution-main__banner--ru {
	background-image: url(images/banner-bg-ru.png);
}

.rest-market-solution-main__banner--other {
	background-image: url(images/banner-bg-other.png);
}

.rest-market-solution-main__banner-wrapper {
	position: absolute;
	left: 24px;
	top: 54px;
	width: 360px;
}

.rest-market-solution-main__banner-title {
	width: 250px;
	font-weight: 600;
	font-size: 21px;
	line-height: 29px;
	color: var(--ui-color-palette-black-base, #333333);

}

.rest-market-solution-main__banner-description {
	margin-top: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	width: 385px;
	color: var(--ui-color-palette-gray-90, #525C69);
}

.rest-market-solution-main__banner-action {
	margin-top: 24px;
}

.rest-market-solution-tag {
	margin-top: 26px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rest-market-solution-tag__item {
	width: 291px;
	height: 120px;
	background: var(--accent-soft-accent-soft-blue-3, #EDF7FF);
	border-radius: 16px;
	position: relative;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.rest-market-solution-tag__item:not(:last-child) {
	margin-right: 10px;
}

.rest-market-solution-tag__item-wrapper {
	position: absolute;
	top: 30px;
	left: 18px;
}

.rest-market-solution-tag__item-title {
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: var(--ui-color-palette-black-base, #333333);
}

.rest-market-solution-tag__item-description {
	margin-top: 8px;
	width: 150px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0px;
	vertical-align: middle;
	color: var(--ui-color-palette-gray-90, #525C69);;
}

.rest-market-solution__item-img {
	position: absolute;
	width: 100px;
	height: 120px;
	bottom: 5px;
	right: 0;
}

.rest-market-solution-all {
	text-align: center;
	margin-top: 16px;
}