div#panel {
    position: fixed;
    width: 100%;
    z-index: 999999;
    bottom: 0;
}

.example {
    border: 2px solid red;
    color: red;
    padding: 20px;
}

.leftmenu,
.leftmenuact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.leftmenu {
    color: #3F3F3F;
}

.leftmenuact {
    color: #FF5235;
}

.topmenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.topmenuact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FAC535;
    text-decoration: none;
}


.tableborder {
    background-color: #9C9A9C;
}

.tablehead {
    background-color: #D8D9DA;
}

.tablebody {
    background-color: #F8F8F8;
}

.tablebodytext,
.tableheadtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tablebodytext {
    color: #000000;
}

.tableheadtext {
    color: #000066;
}