.rest-market-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rest-market-section__item {
	width: 432px;
	#min-width: 350px;
	height: 170px;
	border-radius: 16px;
	position: relative;
	overflow: hidden;
}

.rest-market-section__item_import {
	margin-right: 15px;
	background-color: var(--pallete-blue-blue-55, #58A4FF);
}

.rest-market-section__item-img {
	width: 185px;
	height: 175px;
	position: absolute;
	right: 0;
	bottom: -3px;
}

.rest-market-section__item_export {
	background-color: var(--pallete-green-green-55, #15C674);
}

.rest-market-section__item-container {
	padding: 18px;
}

.rest-market-section__item-title {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.2px;
	width: 300px;
	margin-bottom: 6px;
}

.rest-market-section__item-description {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0;
	width: 300px;
}

.rest-market-section__item-action {
	margin-top: 18px;
}

.rest-market-section__item-action .ui-btn {
	--ui-btn-background: var(--design-outline-default-design-outline-bg, rgba(255, 255, 255, 1)) !important;
	--ui-btn-border-color: var(--design-outline-default-design-outline-stroke, rgba(237, 238, 240, 1)) !important;;
	--ui-btn-color: var(--design-outline-default-design-outline-content, rgba(82, 92, 105, 1)) !important;
	--ui-btn-background-hover: var(--design-outline-default-design-outline-bg, rgba(255, 255, 255, 0.9)) !important;
	--ui-btn-background-active: var(--design-outline-default-design-outline-bg, rgba(255, 255, 255, 0.9)) !important;
}