.ui-skeleton {
	position: relative;
	overflow: hidden;
	width: var(--width, 100%);
	height: var(--height, 12px);
	border-radius: var(--radius, 8px);
	background: var(--ui-color-base-6);
}

.ui-skeleton::after {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(90deg, #0000, #eee 50%, #0000);
	animation: ui-skeleton 1.5s infinite;
}

@keyframes ui-skeleton {
	0% {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}
