.ui-system-label {
	--ui-system-label-size: unset;
	--ui-system-label-bg-color: unset;
	--ui-system-label-content-color: unset;
	--ui-system-label-padding-x: unset;
	--ui-system-label-border-color: transparent;
	--ui-system-label-icon: unset;

	box-sizing: border-box;
	max-width: 100%;
	height: var(--ui-system-label-size);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	background: var(--ui-system-label-bg-color);
	color: var(--ui-system-label-content-color);
	border-radius: var(--ui-system-label-size);
	font-weight: var(--ui-font-weight-medium);
}

.ui-system-label__inner {
	box-sizing: border-box;
	width: 100%;
	height: var(--ui-system-label-size);
	padding: 0 var(--ui-system-label-padding-x);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--ui-system-label-size);
}

.ui-system-label__value {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-system-label.--icon-mode .ui-system-label__value {
	display: none;
}

.ui-system-label.--icon-mode .ui-system-label__inner::before {
	content: '';
	width: 100%;
	height: 100%;
	mask-image: var(--ui-system-label-icon);
	mask-size: calc(var(--ui-system-label-size) - 2px) calc(var(--ui-system-label-size) - 2px);
	mask-position: center;
	mask-repeat: no-repeat;
	background-color: var(--ui-system-label-content-color);
}

.ui-system-label.--bordered .ui-system-label__inner {
	border: var(--ui-border-width-thin) solid var(--ui-system-label-content-color);
}

.ui-system-label.--style-filledExtra {
	--ui-system-label-bg-color: linear-gradient(348.66deg, #0B83FF 32.07%, #32B2F4 64.58%, #75E4BD 95.91%);
	--ui-system-label-content-color: var(--ui-color-base-white-fixed);
}

.ui-system-label.--style-filled {
	--ui-system-label-bg-color: var(--ui-color-design-filled-bg);
	--ui-system-label-content-color: var(--ui-color-design-filled-content);
}

.ui-system-label.--style-filledAlert {
	--ui-system-label-bg-color: var(--ui-color-design-filled-alert-bg);
	--ui-system-label-content-color: var(--ui-color-design-filled-alert-content);
}

.ui-system-label.--style-filledWarning {
	--ui-system-label-bg-color: var(--ui-color-design-filled-warning-bg);
	--ui-system-label-content-color: var(--ui-color-design-filled-warning-content);
}

.ui-system-label.--style-filledSuccess {
	--ui-system-label-bg-color: var(--ui-color-design-filled-success-bg);
	--ui-system-label-content-color: var(--ui-color-design-filled-success-content);
}

.ui-system-label.--style-filledNoAccent {
	--ui-system-label-bg-color: var(--ui-color-design-filled-na-bg-secondary);
	--ui-system-label-content-color: var(--ui-color-design-filled-na-content);
}

.ui-system-label.--style-filledInverted {
	--ui-system-label-bg-color: var(--ui-color-design-filled-content);
	--ui-system-label-content-color: var(--ui-color-design-filled-bg);
}

.ui-system-label.--style-filledAlertInverted {
	--ui-system-label-bg-color: var(--ui-color-design-filled-alert-content);
	--ui-system-label-content-color: var(--ui-color-design-filled-alert-bg);
}

.ui-system-label.--style-filledWarningInverted {
	--ui-system-label-bg-color: var(--ui-color-design-filled-warning-content);
	--ui-system-label-content-color: var(--ui-color-design-filled-warning-bg);
}

.ui-system-label.--style-filledSuccessInverted {
	--ui-system-label-bg-color: var(--ui-color-design-filled-success-content);
	--ui-system-label-content-color: var(--ui-color-design-filled-success-bg);
}

.ui-system-label.--style-filledNoAccentInverted {
	--ui-system-label-bg-color: var(--ui-color-design-filled-na-content);
	--ui-system-label-content-color: var(--ui-color-design-filled-na-bg);
}

.ui-system-label.--style-tinted {
	--ui-system-label-bg-color: var(--ui-color-design-tinted-bg);
	--ui-system-label-content-color: var(--ui-color-design-tinted-content);
}

.ui-system-label.--style-tintedWarning {
	--ui-system-label-bg-color: var(--ui-color-design-tinted-warning-bg);
	--ui-system-label-content-color: var(--ui-color-design-tinted-warning-content);
}

.ui-system-label.--style-tintedSuccess {
	--ui-system-label-bg-color: var(--ui-color-design-tinted-success-bg);
	--ui-system-label-content-color: var(--ui-color-design-tinted-success-content);
}

.ui-system-label.--style-tintedNoAccent {
	--ui-system-label-bg-color: var(--ui-color-design-tinted-na-bg);
	--ui-system-label-content-color: var(--ui-color-design-tinted-na-content);
}

.ui-system-label.--style-outlineNoAccent {
	--ui-system-label-bg-color: var(--ui-color-design-outline-na-bg);
	--ui-system-label-content-color: var(--ui-color-design-outline-na-content);
}

.ui-system-label.--style-collab {
	--ui-system-label-bg-color: var(--ui-color-collab-bg-content-1);
	--ui-system-label-content-color: var(--ui-color-collab-accent-primary-alt);
}

.ui-system-label.--size-md {
	--ui-system-label-padding-x: 8px;
	--ui-system-label-size: 18px;

	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-system-label-size);
}

.ui-system-label.--size-sm {
	--ui-system-label-padding-x: 6px;
	--ui-system-label-size: 16px;

	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-system-label-size);
}

.ui-system-label.--size-xs {
	--ui-system-label-padding-x: 6px;
	--ui-system-label-size: 14px;

	font-size: var(--ui-font-size-4xs);
	line-height: var(--ui-system-label-size);
}

.ui-system-label.--icon-mode {
	--ui-system-label-padding-x: 0px;

	width: var(--ui-system-label-size);
}

.ui-system-label.--icon-mode.--icon-check {
	--ui-system-label-icon: url("../images/check.svg");
}

.ui-system-label.--icon-mode.--icon-attention {
	--ui-system-label-icon: url("../images/attention.svg");
}

.ui-system-label.--icon-mode.--icon-cross {
	--ui-system-label-icon: url("../images/cross.svg");
}

.ui-system-label.--icon-mode.--icon-question {
	--ui-system-label-icon: url("../images/question.svg");
}

.ui-system-label.--icon-mode.--icon-checkStroke {
	--ui-system-label-icon: url("../images/stroke-check.svg");
}

.ui-system-label.--icon-mode.--icon-crossStroke {
	--ui-system-label-icon: url("../images/circle-cross.svg");
}

.ui-system-label.--icon-mode.--icon-processStroke {
	--ui-system-label-icon: url("../images/circle-process.svg");
}
