.bx-im-send-panel__scope {
	--im-textarea__font-color_primary: var(--im-color-palette-black-base);
	--im-textarea__font-color_placeholder: var(--im-color-palette-gray-40);
	--im-textarea__font-color_edit-title: var(--im-color-palette-blue-60);
	--im-textarea__font-color_edit-text: var(--im-color-palette-gray-70);
	--im-textarea__background-color: var(--im-color-palette-white-base);
	--im-textarea__background-color_edit-separator: var(--im-color-palette-blue-50);
	--im-textarea__background-color_send-button: rgba(31, 134, 255, 1);
	--im-textarea__background-color_send-button-channel: var(--im-color-accent-turquoise);
}

.bx-im-send-panel__container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	margin: 0 auto;
	min-width: 0;
}

.bx-im-send-panel__container > div {
	z-index: 90;
}

.bx-im-content-chat__container.--center-align .bx-im-send-panel__container {
	max-width: var(--im-content-chat__max-width_textarea_container);
}

.bx-im-textarea__container {
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	background-color: var(--im-textarea__background-color);
	border-radius: var(--im-border-radius-lg);
	position: relative;
	overflow: hidden;
}

.bx-im-textarea__content {
	width: 100%;
	padding: 8px 8px 8px 12px;
	cursor: text;
}

.bx-im-textarea__top {
	display: flex;
	flex-grow: 1;
	padding: 4px 0;
}

.bx-im-textarea__icon-container {
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	max-height: fit-content;
}

.bx-im-textarea__icon {
	cursor: pointer;
}

.bx-im-textarea__element {
	flex-grow: 1;
	resize: none;
	outline: none;
	border: none;
	background: transparent;
	font: var(--im-font-size-lg)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-textarea__font-color_primary);
	margin: 0 0 0 6px;
	padding: 1px 0 0;
}

.bx-im-textarea__element::placeholder {
	font: var(--im-font-size-lg)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	color: var(--im-textarea__font-color_placeholder);
	white-space: nowrap;
	overflow: hidden;
}

.bx-im-textarea__bottom {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin-top: 2px;
}

.bx-im-textarea__bottom .bx-im-elements-send-button {
	margin-left: 4px;
}

.bx-im-textarea__drag-handle {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 10px;
	background-image: url(./images/resize.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: ns-resize;
}

.bx-im-textarea__drag-handle:hover {
	background-image: url(./images/resize-active.svg);
}

.bx-im-textarea__container:hover .bx-im-textarea__drag-handle {
	display: block;
}

.bx-im-textarea__icon.--upload {
	width: 22px;
	height: 22px;
	background-image: url(./images/upload.svg);
}

.bx-im-textarea__icon.--upload.--active {
	background-image: url(./images/upload-active.svg);
}

.bx-im-textarea__icon.--market {
	background-image: url(./images/market.svg);
}

.bx-im-textarea__icon.--market.--active {
	background-image: url(./images/market-active.svg);
}

.bx-im-textarea__icon.--smile {
	background-image: url(./images/smile.svg);
}

.bx-im-textarea__icon.--smile.--active {
	background-image: url(./images/smile-active.svg);
}
